@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    zoom: 0.75;
}

.faq {
    top: 300px;
    text-align: center;
    position: relative;
}

.faq h1 {
    font-size: 52px;
    font-family: 'Poppins';
    color: #7053A4;
    font-weight: 600;
    margin-bottom: 50px;
}

.duvidas {
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.card-faq {
    position: relative;
    justify-content: space-between;
    padding: 65px 65px 65px 65px;
    width: 1487.68px;
    height: 200px;
    box-shadow: 4px 4px 20px 4px rgba(182, 182, 182, 0.25);
    border-radius: 40px;
    margin-bottom: 72px;
    background-color: white;
    border: none;
    cursor: pointer;
    user-select: none;
}


.card-faq h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    color: #40404B;
}

#flex {
    display: flex;
}

.seta {
    position: absolute;
    right: 65px;
}

.no-flex {
    margin-top: 62.5px;
    text-align: left;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 150%;
    color: #60606F;
    display: none;
}

@media (max-width:768px) {
    .card-faq {
        width: 389px;
        height: 69px;
        padding: 0px;
        box-shadow: 2px 2px 10px 2px rgba(182, 182, 182, 0.25);
        border-radius: 14px;
        margin-bottom: 24px;
        padding-top: 24px;
        padding-left: 24px;
    }
    .card-faq h2{
        font-size: 14px;
    }
    .no-flex{
        font-size: 12px;
    }
}