@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --white: #e2dbdb;
    --black: #141414;
    --deep-black: #0a0a0a;
}

body {
    font-size: 100%;
    background: var(--deep-black);
    font-family: 'Lato', sans-serif;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    background: var(--black);
}

.menu-options {
    display: flex;
    gap: 150px;
}

.menu-item {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: var(--white);
    font-size: large;
    letter-spacing: 1px;
    word-spacing: 5px;
}

.icone-zap {
    height: 64px;
    margin-top: 0;
}

.conteudo-principal {
    color: var(--white);
    font-weight: 700;
    padding: 160px;
    float: left;
    width: 50%;
}

section div h2 {
    font-size: medium;
}

.conteudo-secundario {
    color: var(--white);
    font-weight: 700;
    padding: 160px;
    float: left;
    width: 50%;
}